# Default values for unleash.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

affinity: {}
  # podAntiAffinity:
  #   preferredDuringSchedulingIgnoredDuringExecution:
  #     - podAffinityTerm:
  #         labelSelector:
  #           matchExpressions:
  #             - key: app.kubernetes.io/instance
  #               operator: In
  #               values:
  #                 - unleash
  #         topologyKey: failure-domain.beta.kubernetes.io/zone
  #       weight: 100

# HorizontalPodAutoscaler
# https://kubernetes.io/de/docs/tasks/run-application/horizontal-pod-autoscale/
autoscaling:
  enabled: false

# This is a working example of Unleash with Google OAuth2 for the frontend and
# a shared secret for secure communication with a backend service.
configMaps: {}
#  index.js:
#    mountPath: /index.js
#    content: |-
#      'use strict';
#
#      const unleash = require('unleash-server');
#      const passport = require('@passport-next/passport');
#      const GoogleOAuth2Strategy = require('@passport-next/passport-google-oauth2');
#
#      const sharedSecret = process.env.SHARED_SECRET;
#
#      passport.use(
#        new GoogleOAuth2Strategy(
#          {
#            clientID: process.env.GOOGLE_CLIENT_ID,
#            clientSecret: process.env.GOOGLE_CLIENT_SECRET,
#            callbackURL: process.env.GOOGLE_CALLBACK_URL,
#          },
#          (accessToken, refreshToken, profile, cb) => {
#            cb(
#              null,
#              new unleash.User({
#                name: profile.displayName,
#                email: profile.emails[0].value,
#              }),
#            );
#          },
#        ),
#      );
#
#      function googleAdminAuth(app) {
#        app.use(passport.initialize());
#        app.use(passport.session());
#        passport.serializeUser((user, done) => done(null, user));
#        passport.deserializeUser((user, done) => done(null, user));
#
#        app.get(
#          '/api/admin/login',
#          passport.authenticate('google', { scope: ['email'] }),
#        );
#        app.get(
#          '/api/auth/callback',
#          passport.authenticate('google', {
#            failureRedirect: '/api/admin/error-login',
#          }),
#          (req, res) => {
#            res.redirect('/');
#          },
#        );
#
#        app.use('/api/client', (req, res, next) => {
#          if (req.header('authorization') !== sharedSecret) {
#            res.sendStatus(401);
#          } else {
#            next();
#          }
#        });
#        app.use('/api/admin/', (req, res, next) => {
#          if (req.user) {
#            next();
#          } else {
#            return res
#              .status('401')
#              .json(
#                new unleash.AuthenticationRequired({
#                  path: '/api/admin/login',
#                  type: 'custom',
#                  message: `You have to identify yourself in order to use Unleash. Click the button and follow the instructions.`,
#                }),
#              )
#              .end();
#          }
#        });
#      }
#
#      const options = {
#        enableLegacyRoutes: false,
#        adminAuthentication: 'custom',
#        preRouterHook: googleAdminAuth,
#      };
#
#      unleash.start(options).then(instance => {
#        console.log(
#          `Unleash started on http://localhost:${instance.app.get('port')}`,
#        );
#      });

containerPort: 4242

dbConfig:
  # if postgres dependency chart is used, this needs to be the same value as postgresql.postgresqlDatabase
  database: unleash
  host: postgres
  # if postgres dependency chart is used, this needs to be the same value as postgresql.postgresqlPassword
  # this should be change to something more secure or use an existing secret
  pass: unleash
  port: 5432
  useExistingSecret:
    name: ""
    key: ""
  # if postgres dependency chart is used, this needs to be the same value as postgresql.postgresqlUsername
  user: unleash

env: []
#  - name: GOOGLE_CLIENT_ID
#    value: 999999999999-999z99zz9zzzzzz99z9zz9z9zzzzzz9z.apps.googleusercontent.com
#  - name: GOOGLE_CALLBACK_URL
#    value: https://unleash.example.com/api/auth/callback

# adds environmentvars for existing secrets to the container via tpl function
existingSecrets: ""
  # - name: GOOGLE_CLIENT_SECRET
  #   valueFrom:
  #     secretKeyRef:
  #       name: secretname
  #       key: secretkey

fullnameOverride: ""

image:
  repository: unleashorg/unleash-server
  tag: 3.11.2
  pullPolicy: Always

imagePullSecrets: []

ingress:
  enabled: false
#  annotations:
#    kubernetes.io/ingress.class: nginx
#    kubernetes.io/tls-acme: "true"
#  hosts:
#    - host: unleash.example.com
#      paths:
#        - /  name: {{ template "grafana.fullname" . }}
#  tls:
#    - secretName: unleash.example.com
#      hosts:
#        - unleash.example.com

livenessProbe:
  enabled: true
  path: /
  initialDelaySeconds: 30
  timeoutSeconds: 10

nameOverride: ""

nodeSelector: {}

podAnnotations: {}

readinessProbe:
  enabled: true
  path: /
  initialDelaySeconds: 30
  timeoutSeconds: 10
  periodSeconds: 10
  successThreshold: 5

replicaCount: 1

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# The key value pairs under secrets will be included in a Kubernetes Secret,
# and they will generate environment variables that use `valueFrom` to refer to
# the secrets in the Kubernetes Secret.
secrets: {}
#  SHARED_SECRET: 999z9z9z99https://meet.google.com/rtk-rbjr-tkv99zzz9
#  GOOGLE_CLIENT_SECRET: zzzZZz9ZZzZzZzz9Z9zZZZZZ

service:
  type: ClusterIP
  port: 4242

tolerations: []

# VerticalPodAutoscaler
vpa:
  enabled: false

# postgresql dependency chart config
# https://github.com/bitnami/charts/blob/master/bitnami/postgresql/values.yaml
postgresql:
  enabled: true
  fullnameOverride: "unleash-postgresql"
  postgresqlDatabase: unleash
  postgresqlUsername: unleash
  # this should be change to something more secure or use an existing secret
  postgresqlPassword: unleash
