ingress:
  enabled: true

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 4

secrets:
  TEST_KEY: TEST_VALUE

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: postgres
    tag: 18-alpine
