name: ci

on:
  pull_request:
    paths:
      - "charts/**/**"
  workflow_dispatch:


jobs:
  codespell:
    name: codespell
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Codespell
        uses: codespell-project/actions-codespell@master
        with:
          skip: ".git"
          exclude_file: ".github/codespell-ignore.list"
          ignore_words_file: ".github/codespell-ignore.list"
          check_filenames: true
          check_hidden: true

  lint-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          check-latest: true
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0
      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct.yaml

  super-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        # https://github.com/github/super-linter/issues/1397
        with:
          # Full git history is needed to get a proper
          # list of changed files within `super-linter`
          fetch-depth: 0
      - name: Load super-linter configuration
        # Use grep inverse matching to exclude eventual comments in the .env file
        # because the GitHub Actions command to set environment variables doesn't
        # support comments.
        # Ref: https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/workflow-commands-for-github-actions#setting-an-environment-variable
        run: grep -v '^#' .github/super-linter.env >> "$GITHUB_ENV"
      - name: Lint Code Base
        uses: super-linter/super-linter@v8.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  kubeconform:
    runs-on: ubuntu-latest
    needs:
      - codespell
      - super-linter
      - lint-chart
    strategy:
      matrix:
        k8s:
          - 1.31.12
          - 1.32.8
          - 1.33.4
          - 1.34.0
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup helm
        uses: azure/setup-helm@v4.3.1
      - name: Run kubeconform tests
        run: .github/kubeconform.sh
        env:
          KUBERNETES_VERSION: ${{ matrix.k8s }}
          KUBECONFORM_VERSION: v0.7.0
      - name: Create test summary
        uses: test-summary/action@v2
        with:
          paths: "./results/**/*.tap"
        if: always()

  install-chart:
    name: install-chart
    runs-on: ubuntu-latest
    needs:
      - kubeconform
    strategy:
      matrix:
        k8s:
          - v1.31.12
          - v1.32.8
          - v1.33.4
          - v1.34.0
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          check-latest: true
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0
      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed="$(ct list-changed --config .github/ct.yaml)"
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Create kind cluster
        uses: helm/kind-action@v1
        if: steps.list-changed.outputs.changed == 'true'
        with:
          config: .github/kind-config.yaml
          node_image: kindest/node:${{ matrix.k8s }}
      - name: Run chart-testing (install)
        run: ct install --config .github/ct.yaml
